header {
  padding: 0;
  background-color: white;
  border-bottom: solid #C1CCCE ;
}

a:hover{
  opacity:0.7;
  cursor: pointer;
}

.container {
 margin: 5px;
 display: flex;
 justify-content: space-between;
}


nav ul li {
  list-style-type: none;
}

nav ul li a{
  padding-right: 10px;
  padding-left: 10px;
}
.logo{
  height: 100px;
  width: 100px;
}
.cart{
  height: 30px;
  width: 30px;
  display: flex;
  margin-top: 35px;
}
