ul{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

ul li a{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

ul li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

