ngb-rating {
  color: blue;
  font-size: 15px;

}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
ul li{
  list-style: none;
}
ul li a{
  height: 470px;
  width: 316px;
  border: 0.5px solid rgb(209, 209, 209);
  margin: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
}
ul li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

.content {
  padding: 5px 10px;
  position: relative;
}

.isfavourate{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  color: red;
}
.isfavourate.not{
  color:gray;
}
.stars{
  margin: 10px 0px;
}
.price{
  font-size: 35px;
  color:red;
}
.tags{
  color:lightgray;
  justify-content: space-between;
  display: flex;
}
